# .github/workflows/update-data.yml

name: Convert CSV to JSON

on:
  push:
    branches:
      - main
    paths:
      - 'data-source/**'

permissions:
  contents: write

jobs:
  build-json-from-csv:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: Convert All CSVs to JSON
        run: python ./scripts/convert_csv_json.py

      - name: Commit and push if data changed
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add public/data/**/*.json
          git diff --staged --quiet || (git commit -m "Automated: Update JSON data from CSV" && git push)
